@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background-color: #e2e1e0;
  animation: moveInTop 2s;
}

body {
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.mdc-button__label {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
}
.mdc-button--outlined {
  color: #333333;
}
.mdc-button--raised {
  color: white;
}

.mdc-chips {
  font-size: 1.3rem;
}

.heading-primary {
  font-size: 15rem;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.3rem;
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.section__title {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
.section__skills--title {
  font-size: 2rem;
  font-weight: 400;
}

.footer {
  color: white;
  font-size: 1.5em;
}

.darker-bg {
  background-color: #f4f4f4;
  border-radius: 40px;
  padding: 5rem;
}

.legal {
  padding: 2.5rem;
  text-align: center;
}

.grid-3-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3rem;
}

.grid-3-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 3rem;
}

.mdc-button {
  padding: 8px 16px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  transition: background-color 0.5s, box-shadow 0.5s;
}
.mdc-button:focus {
  outline: none;
}
.mdc-button--outlined {
  border: 1px solid #ddd;
  background-color: white;
}
.mdc-button--outlined:hover {
  background-color: #a6a6a6;
}
.mdc-button--outlined:active {
  background-color: #999999;
}
.mdc-button--raised {
  border: 1px solid transparent;
  background-color: #333333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.mdc-button--raised:hover {
  background-color: #595959;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.mdc-button--raised:active {
  background-color: #666666;
}

.mdc-card {
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-self: baseline;
  flex-wrap: wrap;
}
.mdc-card--raised {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.mdc-card--raised:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.mdc-card--outlined {
  min-width: 31.1rem;
  box-shadow: 0;
  border: 1px solid #e0e0e0;
}
.mdc-card__media {
  width: 100%;
  height: 18.4rem;
}
.mdc-card__media--image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}
.mdc-card__text-section {
  padding: 1.6rem;
}
.mdc-card__text-section__title {
  font-size: 1.85rem;
  line-height: 2.9rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
}
.mdc-card__text-section__subhead {
  font-size: 1.375rem;
  line-height: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  opacity: 0.6;
}
.mdc-card__supporting-text {
  padding-top: 2.4rem;
  padding: 1.6rem;
  font-size: 1.4rem;
}
.mdc-card__chips-section {
  padding: 1.6rem;
  display: flex;
  flex-wrap: wrap;
}
.mdc-card__chips-section .mdc-chips {
  color: #717171;
  align-self: center;
}
.mdc-card__chips-section .mdc-chips:not(:last-child) {
  margin-right: 1rem;
}
.mdc-card__actions {
  display: flex;
  justify-content: flex-start;
}
.mdc-card__actions .mdc-button:not(:last-child) {
  margin-right: 0.8rem;
}

.mdc-chips {
  height: 3.2rem;
  min-width: 6rem;
  padding: 0 1.2rem;
  border-radius: 2rem;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  transition: background-color 0.5s;
}
.mdc-chips:hover {
  background-color: #dedede;
}

.mdc-divider {
  width: 90%;
  border-top: 1px solid #eee;
  align-self: center;
}

.header {
  width: 100%;
  margin-bottom: 15em;
  display: flex;
  align-items: center;
}
.header__logo {
  width: 14em;
  margin-right: auto;
}
.header__menu-box {
  display: flex;
  justify-content: flex-end;
}
.header__menu-box .mdc-button:not(:first-child) {
  margin-left: 0.6em;
}

.container {
  width: 70%;
  max-width: 1250px;
  margin: 5rem auto;
  padding: 8rem;
  border-radius: 40px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 75em) {
  .container {
    width: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow: 0;
  }
}

.section {
  width: 100%;
  /*  display: flex
  * justify-content: space-between
  * flex: 1 0 auto
  * flex-grow: 0
  * overflow: auto
  *
  *
  *
  * & .mdc-card
  *  //margin-bottom: 1.5rem
  *
  *  &:not(:first-child)
  *    margin-left: 1rem
  *  &:not(:last-child)
  *    margin-right: 1rem */
}
.section:not(:last-child) {
  margin-bottom: 10em;
}
.section__box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section__box .heading-primary, .section__box .heading-secondary {
  align-self: center;
}
.section__box .heading-secondary {
  margin-top: 3rem;
}
.section__text-box {
  align-self: center;
  width: 70%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  padding: 5rem;
  background-color: #eee;
  border-radius: 40px;
  color: #333333;
  font-size: 2rem;
}
.section__text-box--text {
  text-align: center;
  line-height: 1.5;
}
.section__profile-picture {
  width: 35em;
  margin-bottom: 3em;
  border: 1rem solid #333333;
  border-radius: 50%;
  align-self: center;
}
.section__skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3rem;
}
.section__chips-languages {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer {
  background-color: #333333;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
