@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  display: flex;
  background-color: #e2e1e0;
  animation: moveInTop 2s;
}

body {
  color: #262626;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.mdc-button {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
}
.mdc-button--outlined {
  color: #333333;
}
.mdc-button--raised {
  color: white;
}

.mdc-chips {
  font-size: 1.3rem;
}

.heading-primary {
  font-size: 15rem;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.3rem;
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

.section__title {
  font-size: 3.5rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}
.section__skills--title {
  font-size: 2rem;
  font-weight: 400;
}

.footer {
  color: white;
  font-size: 1.5em;
}

.legal {
  padding: 2.5rem;
  text-align: center;
}

.mdc-button {
  padding: 8px 16px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  transition: background-color 0.5s, box-shadow 0.5s;
}
.mdc-button:focus {
  outline: none;
}
.mdc-button--outlined {
  border: 1px solid #ddd;
  background-color: white;
}
.mdc-button--outlined:hover {
  background-color: #a6a6a6;
}
.mdc-button--outlined:active {
  background-color: #999999;
}
.mdc-button--raised {
  border: 1px solid transparent;
  background-color: #333333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.mdc-button--raised:hover {
  background-color: #595959;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.mdc-button--raised:active {
  background-color: #666666;
}

.mdc-card {
  width: 34.4rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
}
.mdc-card__body {
  padding: 0 1.6rem 1.6rem;
}
.mdc-card__media {
  width: 100%;
  height: 19.4rem;
}
.mdc-card__media--image {
  height: 100%;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.mdc-card__primary-title {
  padding: 2.4rem 0;
  display: flex;
  flex-direction: column;
}
.mdc-card__primary-title--primary-text {
  line-height: 1.2;
  font-size: 2.5rem;
}
.mdc-card__primary-title--secondary-text {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.4rem;
  margin-top: 0.6rem;
}
.mdc-card__supporting-text {
  padding-bottom: 1.6rem;
  font-size: 1.4rem;
}
.mdc-card__actions {
  display: flex;
  align-items: flex-start;
}
.mdc-card__actions .mdc-button:not(:last-child) {
  margin-right: 0.8rem;
}

.mdc-chips {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.header {
  width: 100%;
  margin-bottom: 15em;
  display: flex;
  align-items: center;
  background-color: #fafafa;
}
.header__logo {
  width: 14em;
  margin-right: auto;
}
.header__menu-box {
  display: flex;
  justify-content: flex-end;
}
.header__menu-box .mdc-button:not(:first-child) {
  margin-left: 0.6em;
}

.container {
  width: 60%;
  margin: 5rem auto;
  padding: 8rem;
  border-radius: 40px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section:first-child {
  margin-top: 2em;
}
.section:not(:last-child) {
  margin-bottom: 30em;
}
.section__box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section__text-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section__profile-picture {
  width: 35em;
  margin-bottom: 3em;
  border: 1rem solid #262626;
  border-radius: 50%;
}
.section__skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section__skills .mdc-card {
  margin-bottom: 1.5rem;
}

.footer {
  background-color: #333333;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

/*# sourceMappingURL=style.css.map */
