$roboto: 'Roboto', sans-serif

$color--razzmatazz: #F2165C
$color--punch: #d62828
$color--spatial-white: #e2e1e0
$color--gray-80: #333333
$color--pizazz: #FF9800
$color--fruit-salad: #4CAF50
$color--jaipur-pink: #e5989b
$color--atlantis: #8ac926
$color--grape: #3c1642
$color--forsythia: #fec601
$color--marshland: #0c0f0a
$color--gray-12: #e0e0e0



$primary-color: $color--razzmatazz
$secondary-color: darken($primary-color, 5%)

$body-bg-color: $color--spatial-white
$container-bg-color: white

$text-color: $color--gray-80


$mdc-button-outlined-font-color: $color--gray-80
$mdc-button-outlined-bg-color: white

$mdc-button-raised-font-color: white
$mdc-button-raised-bg-color: $primary-color
