.container
  width: 70%
  min-width: 125rem
  max-width: 125rem
  margin: 5rem auto
  padding: 8rem
  border-radius: 40px
  background-color: $container-bg-color
  box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23)

  display: flex
  flex-direction: column
  justify-content: space-between

  @include respond(tab-land)
    width: 100%
    margin: auto
    border-radius: 0
