.header
  height: 10em
  width: 100%

  display: flex
  align-items: center

  .logo
    width: 9%
    margin-left: 3rem
    margin-right: auto

  .menu-box
    margin-right: 3rem
    display: flex
    justify-content: flex-end

    .mdc-button
      &:not(:first-child)
        margin-left: 0.6em
