.header
  width: 100%

  display: flex
  align-items: center

  .logo
    width: 12em
    margin-right: auto

  .menu-box
    display: flex
    justify-content: flex-end

    .mdc-button
      &:not(:first-child)
        margin-left: 0.6em
