.section
  width: 100%
  margin-bottom: 10em

  display: flex
  flex-direction: column

  & .heading-primary, .heading-secondary
    align-self: center

  & .heading-secondary
    margin-top: 3rem

  &__text-box
    align-self: center
    width: 75%
    margin-top: 5rem
    padding: 5rem
    background-color: #f0f0f0
    border-radius: 40px
    color: $text-color
    font-size: 2rem

    display: flex
    justify-content: center
    flex-direction: column

    &--text
      hyphens: auto
      margin-bottom: 3rem
      text-align: center
      line-height: 1.5

  &__profile-picture
    width: 35em
    margin-bottom: 3em
    border: 1rem solid $text-color
    border-radius: 50%
    align-self: center

  &__skills
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-gap: 3rem
  /*  display: flex
    justify-content: space-between
    flex: 1 0 auto
    flex-grow: 0
    overflow: auto



    & .mdc-card
      //margin-bottom: 1.5rem

      &:not(:first-child)
        margin-left: 1rem
      &:not(:last-child)
        margin-right: 1rem
