.section
  width: 100%

  &:not(:last-child)
    margin-bottom: 30em

  &__box
    width: 100%


  &__text-box
    display: flex
    align-items: center
    flex-direction: column

  &__profile-picture
    width: 35em
    margin-bottom: 3em
    border: 1rem solid $text-color
    border-radius: 50%

  &__skills
    background-color: orangered
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 1rem

    & .mdc-card
      margin-bottom: 1.5rem

      &:not(:first-child)
        margin-left: 1rem
      &:not(:last-child)
        margin-right: 1rem
