.go-up
  padding: 2rem
  text-decoration: none

  border: 1px solid lightgray
  border-radius: 5px

  position: fixed
  bottom: 0
  right: 0

  margin-right: 3rem
  margin-bottom: 3rem

  & .icon
    font-size: 4rem
    background-color: $text-color
    -webkit-background-clip: text
    color: transparent
