.mdc-button
  height: 36px
  padding: 9px 15px
  border: none
  border-radius: 2px
  text-transform: uppercase
  transition: background-color 0.5s, box-shadow 0.5s

  &:focus
    outline: none

  &:hover
    cursor: pointer

  &--outlined
    border: 1px solid $primary-color
    background-color: white

    &:hover
      background-color: lighten($primary-color, 65%)

    &:active
      background-color: lighten($primary-color, 55%)

  &--raised
    border: 1px solid transparent
    background-color: $primary-color
    box-shadow: 0 1px 3px rgba(black,0.12), 0 1px 2px rgba(black,0.24)

    &:hover
      //background-color: lighten($primary-color, 15%)
      box-shadow: 0 14px 28px rgba(black,0.25), 0 10px 10px rgba(black,0.22)

    &:active
      background-color: lighten($primary-color, 20%)

  &__icon
    margin-right: 0.8rem
