body
  color: $text-color
  font-family: $roboto
  font-weight: 400


.mdc-button
  & span
    font-weight: bolder

  &--outlined
    color: $primary-color

  &--raised
    color: $mdc-button-raised-font-color

.footer
  color: white
  font-size: 1.5em
