body
  color: $text-color
  font-family: $roboto
  font-weight: 400

.mdc-button
  font-size: 1.5rem

  & span
    font-weight: bolder

  &--outlined
    color: $primary-color

  &--raised
    color: $mdc-button-raised-font-color


.heading-primary
  font-size: 10rem
  font-weight: 700
  line-height: 1.2

.heading-secondary
  font-size: 5rem
  font-weight: 400

.section__box--title
  font-size: 3rem
  font-weight: 300

.footer
  color: white
  font-size: 1.5em
